<div class="main">
    <!-- intro -->
    <section class="intro" id='intro'>
        <h1 class="intro-title title">
            Hi, I am <strong>Guy Shapira</strong>
        </h1>
        <p class="intro-subtitle subtitle">
            Frontend Web Developer
        </p>
        <div class="communication">
            <p class="communicatio-item">
                <i class="bi bi-envelope-fill"></i>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{emailAddress}}&su=Subject&body=Body%20Text"
                    target="_blank" class="footer-link">shapira91@gmail.com</a>
                </p>
                
                <p class="communicatio-item"><i class="bi bi-telephone-fill"></i>+972526033388</p>
        </div>
        <img src="./assets/images/profile.jpeg" class="intro-img">
    </section>

    <!-- skills -->
    <section class="skills" id="skills">
        <h2 class="skills-title title">My Skills</h2>
        <div class="skills-container">
            <div class="skill">
                <h3>languages</h3>
                <p>JavaScript, TypeScript, HTML5, CSS</p>
            </div>
            <div class="skill">
                <h3>frameworks & libraries</h3>
                <p>Angular, Vue.js, React.js,
                    Node.js, SCSS, RxJS, Angular Material,
                    Bootstrap, Vuetify
                </p>
            </div>
            <div class="skill">
                <h3>databases</h3>
                <p>MySQL, MongoDb, Redis, Cloudinary</p>
            </div>
        </div>

        <a href="portfolio" class="btn">My Work</a>
    </section>

    <!-- about -->
    <section class="about" id="about">
        <h2 class="about-title title">Who I am</h2>
        <p class="about-subtitle subtitle">Always looking ahead, Always excited. </p>

        <div class="about-body">
            <p>Like music and education, coding fills me with passion, especially when there is a new challenge
                involved.
                I fell for coding very deeply and seeing an elegant code inspires me.
                <br>
                When i get to write my own desktop/mobile application, and any project of mine, i always plan with one
                major concept in mind-
                Make It Clean. i remind myself that my apps and codes must work for me and my current or potential
                clients,
                along with being clear and logical for my team and i.
            </p>
        </div>

        <img src="./assets/images/profile2.jpeg" class="about-img">
    </section>

    <!-- portfolio -->
    <section class="projects" id="projects">
        <h2 class="projects-title title">My Projects Overview</h2>
        <p class="projects-subtitle subtitle">view & enjoy!</p>

        <div class="portfolio">
            <div class="portfolio-item" *ngFor="let proj of projects; index as i">
                <a href="portfolio" class="portfolio-item">
                    <h3 class="portfolio-item-title">{{proj.name}}</h3>
                    <img src="{{proj.imgUrl}}" class="portfolio-item-img">
                </a>
            </div>
        </div>
        
    </section>
</div>