<footer class="footer">
    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{emailAddress}}&su=Subject&body=Body%20Text" target="_blank" class="footer-link">shapira91@gmail.com</a>
    <ul class="social-list"> 
    <li class="social-list-item"><a href="https://linkedin.com/in/shapira91" target="_blank"><i class="bi bi-linkedin"></i></a></li>
    <li class="social-list-item"><a href="https://github.com/GUShap" target="_blank"><i class="bi bi-github"></i></a></li>
    <li class="social-list-item"><a href="https://api.whatsapp.com/send?phone=972526033388" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
    </ul>
</footer>
