<header class="header">
  <div class="header-logo">
    <img src="./assets/images/logo3.png" alt="">
  </div>

  <button class="nav-toggle" (click)="toggleNav()" aria-label="toggle navigation">
    <span class="hamburger"></span>
  </button>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="#intro" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="#skills" class="nav-link">My Skills</a></li>
      <li class="nav-item"><a href="#about" class="nav-link">About Me</a></li>
      <li class="nav-item"><a href="#projects" class="nav-link">My Work</a></li>
    </ul>
    <img src="./assets/images/logo3.png" class='nav-img'>
  </nav>
</header>